<html lang="en"><head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Media chain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <style>

    body{
    background: url(https://i.ytimg.com/vi/PAmG3_L8j_Y/maxresdefault.jpg);
    background-position: center;
    background-size:inherit;
}

  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<section>
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
     <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
      <a class="navbar-brand" href="#myPage">
        <img src="{{url_for('static', filename='logo.png')}}" style="
    width: 150px;
">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <h2 style=" margin-top: 35px; font-size: 31px;   color: #9d005c;  text-shadow: -1px 1px orange;">WELCOME TO MEDIACHAIN</h2>
        <!-- <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li class="active"><a href="#contact">CONTACT</a></li> -->
      </ul>
    </div>
  </div>
</nav>
</section>

<section class="pagenm">
<div class="container">
<h3 class="text-center">Add Media Asset</h3>
</div>
</section>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
 
    <div class="">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-12">
          <div class="row bg-grey">
             <h2 class="text-center">Add Media Asset</h2>
                <div class="col-sm-12 form-group">
                  <input class="form-control" id="AssetId" placeholder="ASSET01" type="text">
                </div>
                <div class="col-sm-12 form-group">
                  <input class="form-control" id="Assetname" placeholder="Tarak Mehta" type="text">
                </div>
                <div class="col-sm-12 form-group">
                  <input class="form-control" id="advancevalue" placeholder="100$" type="text">
                </div>

                <div class="col-sm-12 form-group">
                  <input class="form-control" id="owner" placeholder="owner" type="text">
                </div>

                <div class="col-sm-12 form-group">
                  <input class="form-control" id="actorname" placeholder="Writer name .example 'Ben'" type="text">
                </div>
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="text" id="writername" placeholder="Actor name .example 'ryan'"><br>
                </div>
                <div class="col-sm-12 form-group">
                  <button class="btn btn-primary" type="submit" style="width: 100%" onclick="sendJSON()">Submit</button>
                   <p class="result" style="color:green"></p> 
 
                {% if post['error'] != "" %}
    <br> <p>{{ post['error'] }}</p>
   {% endif %}

          </div>

        </div>
        <div class="col-sm-3"></div>
      </div>
  </div>
</div>
  <script>
    function sendJSON(){ 
            let vurl = window.location.href;
            let username = vurl.split('/');
            username = username[4]
            let usertype = vurl.split('/');
            usertype = usertype[3];
            let AssetId = document.querySelector('#AssetId'); 
            let Assetname = document.querySelector('#Assetname'); 
            let owner = document.querySelector('#owner'); 
            let advancevalue = document.querySelector('#advancevalue');
            let actorname = document.querySelector('#actorname'); 
            let writername = document.querySelector('#writername');   
            // Creating a XHR object 
            let xhr = new XMLHttpRequest(); 
            let url = "/"+ usertype +"/api/createAsset/"; 
        
            // open a connection 
            xhr.open("POST", url, true); 
  
            // Set the request header i.e. which type of content you are sending 
            xhr.setRequestHeader("Content-Type", "application/json"); 
            xhr.onreadystatechange = function () { 
                console.log(xhr.status);
                if (xhr.readyState === 4 && xhr.status === 200) { 
 
                    window.location='/'+ usertype +'/' +username +'/Asuccess'; 
                   
  
                }else{
                    window.location='/'+ usertype +'/' +username +'/Aerror';

                }
            }; 
            // Converting JSON data to string 
            var data = JSON.stringify({ "assetId": AssetId.value, "assetname": Assetname.value,"owner": owner.value, "advancevalue": advancevalue.value,"username":username,"actorname":actorname.value,"writername":writername.value}); 
            // Sending data with the request 
            xhr.send(data); 
        } 

  </script> 
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/assets/scaffold/js/vendor.min.js"></script>
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/common.js"></script>
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/scaffold.js"></script>
</body></html>