<html lang="en"><head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Charusat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <style>


  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<section>
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
     <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
      <a class="navbar-brand" href="#myPage">
        <img src="{{url_for('static', filename='logo.jpg')}}" style="
    width: 150px;">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <h2 style=" margin-top: 35px; font-size: 31px;   color: #9d005c;  text-shadow: -1px 1px orange;">WELCOME TO Charusat</h2>
        <!-- <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li class="active"><a href="#contact">CONTACT</a></li> -->
      </ul>
    </div>
  </div>
</nav>
</section>

<section class="pagenm">
<div class="container">
<h3 class="text-center">Add Grades</h3>
</div>
</section>



<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
 
    <div class="">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-12">
          <div class="row bg-grey">
             <h2 class="text-center">Add Grade</h2>
                <div class="col-sm-12 form-group">
                  <input class="form-control" id="rollno" placeholder="18itxxx" type="text">
                </div>
                <div class="col-sm-12 form-group">
                  <input class="form-control" id="semno" placeholder="1 or 2 .." type="text">
                </div>
                <div class="dropdown" align="center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">No:of subjects to enter.
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>

  <style type="text/css">
  table {
    margin-top: 20px;
    margin-bottom: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
    <table align="center">
    <tr>
    <th>Subject</th>
    <th>Marks</th>
    </tr>
    <tr>
    <td><input class="form-control" id="Subject"  type="text"></td>
    <td><input class="form-control" id="Marks"  type="text"></td>
    </tr>
</table>

                <div class="col-sm-12 form-group">
                  <button class="btn btn-primary" type="submit" style="width: 100%" onclick="sendJSON()">Submit</button>
                   <p class="result" style="color:green"></p> 
 
                {% if post['error'] != "" %}
    <br> <p>{{ post['error'] }}</p>
   {% endif %}

          </div>

        </div>
        <div class="col-sm-3"></div>
      </div>
  </div>
</div>
  <script>
    function sendJSON(){ 
            let vurl = window.location.href;
            let username = vurl.split('/');
            username = username[4]
            let usertype = vurl.split('/');
            usertype = usertype[3];
            let rollno = document.querySelector('#rollno'); 
            let semno = document.querySelector('#semno'); 
            let Dict = document.querySelector('#dict');  
            // Creating a XHR object 
            let xhr = new XMLHttpRequest(); 
            let url = "/"+ usertype +"/api/AddGrade/"; 
        
            // open a connection 
            xhr.open("POST", url, true); 
  
            // Set the request header i.e. which type of content you are sending 
            xhr.setRequestHeader("Content-Type", "application/json"); 
            xhr.onreadystatechange = function () { 
                console.log(xhr.status);
                if (xhr.readyState === 4 && xhr.status === 200) { 
 
                    window.location='/'+ usertype +'/' +username +'/Asuccess'; 
                   
  
                }else{
                    window.location='/'+ usertype +'/' +username +'/Aerror';

                }
            }; 
            // Converting JSON data to string 
            var data = JSON.stringify({ "rollno": rollno.value, "semno": semno.value,"dict": Dict.value,"username":username}); 
            // Sending data with the request 
            xhr.send(data); 
        } 

  </script> 
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/assets/scaffold/js/vendor.min.js"></script>
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/common.js"></script>
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/admin/scaffold.js"></script>
</body></html>