<!DOCTYPE html>
<html>
<head>
	<title>Faculty DashBoard</title>
	<link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" />
	
</head>
<body>
<style type="text/css">

body{
	background: rgb(0,220,255);
background: linear-gradient(45deg, rgba(0,220,255,1) 0%, rgba(0,181,255,0.9839286056219363) 100%);
}

button {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-top: 371px;
    font-weight: 400;
    text-align: center;
    padding: 6px 12px;
    font-size: 28px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

</style>
	<div align="center">
		<button onclick="location.href=window.location.href+'/AdmitAStudent';">Add Student</button>
	</div>


</body>
</html>