<!DOCTYPE html>
<html>
<head>
	<title>Charusat University</title>
	<link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" />
</head>
<body>

	<style type="text/css">
		body{
			background: repeating-linear-gradient(-25deg, #00000061, #00000014 100px);
		}
		button {
    font-size: 28px !important;
    margin-right: 17px;
}


.container-fluide {
    
    width: 100%;
    padding: 20% 10px;
}
	</style>
	<div class="container-fluide">
		<div align="center">
			<h2>Different Participants of the MediaChain</h2>
		<button class="btn btn-lg btn-primary" onclick="location.href=window.location.href+'/Admin';">Admin</button>
		<button class="btn btn-lg btn-danger" onclick="location.href=window.location.href+'/Faculty';">Faculty</button>
		<button class="btn btn-lg btn-danger" onclick="location.href=window.location.href+'/Student';">Student</button>
	</div>
	</div>


</body>
</html>